In [1]:
import pandas as pd
import numpy as np
from evaluation_scripts.base import load_experiment, save_for_latex
import os

In [2]:
##Â LOAD
strains, _, dictionaries, pathes, df1, _ = load_experiment("20210417")
#_, _, _, _, df2, _ = load_experiment("20220127")
#_, _, _, _, df3, _ = load_experiment("20220412")
data = pd.concat([df1, df2, df3])
path = pathes["general_obj"]

In [3]:
df = data[ (data.x.isin(["S", "A_r", "B_r", "A&B"])) & (data.treatment_with != "none")].copy()
df["cleared"] = df.phenotype == "UI"
cols = ["x", "treatment_with", "cleared"]
summary = df[cols].groupby(cols[:-1]).sum()
summary["total"] = df[cols].groupby(cols[:-1]).count()
summary["f"] = summary.cleared/summary.total
summary = summary.reset_index()
summary

      x treatment_with  cleared  total         f
0   A&B              A       44    657  0.066971
1   A&B             AB       32     69  0.463768
2   A&B              B       13    466  0.027897
3   A_r              A      297   9837  0.030192
4   A_r             AB      908   2012  0.451292
5   A_r              B     2395   4159  0.575860
6   B_r              A     4052   4234  0.957015
7   B_r             AB     1685   1803  0.934554
8   B_r              B      100   8240  0.012136
9     S              A     5200   5516  0.942712
10    S             AB     2763   3161  0.874090
11    S              B     4349   5769  0.753857

In [4]:
clearance = pd.pivot_table(summary, columns = "x", index = "treatment_with", values = "f")
clearance

x                    A&B       A_r       B_r         S
treatment_with
A               0.066971  0.030192  0.957015  0.942712
AB              0.463768  0.451292  0.934554  0.874090
B               0.027897  0.575860  0.012136  0.753857

In [5]:
## SAVE
save_for_latex(clearance, [], os.path.join(path, "clearance_mean.csv"))

  treatmentwith   AuB    Ar    Br     S
0             A  0.07  0.03  0.96  0.94
1            AB  0.46  0.45  0.93  0.87
2             B  0.03  0.58  0.01  0.75

In [6]:
clearance.reset_index()

x treatment_with       A&B       A_r       B_r         S
0              A  0.066971  0.030192  0.957015  0.942712
1             AB  0.463768  0.451292  0.934554  0.874090
2              B  0.027897  0.575860  0.012136  0.753857